<div class="row">
    <div class="small-12 columns">
        <div id="window-wrapper">
            <div id="window"> 

                <div id="top-bar"> 
                    <div id="window-button-close" class="window-button left"></div>
                    <div id="window-button-min" class="window-button left"></div>
                    <div id="window-button-expand" class="window-button left"></div>
                    <p class="text-center">Freemail - Confirmation</p>
                    <p id="top-bar-buttons">
                        <a href="#"><img src="/img/email.png"></a>
                        <a href="#" class="right"><img src="/img/wtf.png"></a>
                        <a href="#" class="right"><img src="/img/font.png"></a>
                        <a href="#" class="right"><img src="/img/attachment.png"></a>
                    </p>
                </div>

                <div id="email-headers" class="small-12 columns">
                    <div class="row">
                        <div class="small-12 columns">
                            <div class="row">
                                <div class="small-4 medium-2  columns">
                                    <label class="right inline">To:</label>
                                </div>
                                <div class="small-8 medium-10 columns">
                                    <input type="email" value="me@freemail.com">
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-4 medium-2 columns">
                                    <label class="right inline">CC:</label>
                                </div>
                                <div class="small-8 medium-10 columns">
                                    <input type="email" value="me@facebook.com, me@twitter.com, me@plus.google.com">
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-4 medium-2 columns">
                                    <label class="right inline">Subject:</label>
                                </div>
                                <div class="small-8 medium-10 columns">
                                    <input type="text" value="Re: Freemail - Phase out email. Forever">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="email-body" class="small-12 columns">
                    <div class="row">
                        <div id="email-textarea" class="small-12 columns">
                            <br>
                            <p>Your account has been activated. Please login to continue.</p>
                            <div class="row">
                                <div class="small-12 medium-6 large-4 columns">
                                    <input type="email" placeholder="email" ng-model="email">
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-12 medium-6 large-4 columns">
                                    <input type="password" placeholder="password" ng-model="password">
                                </div>
                            </div>
                            <div class="row">
                                <div class="small-12 medium-6 large-4 columns">
                                    <button type="submit" class="button expand" ng-click="submit()">Login</button>
                                </div>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</div>

