body {
    background-color: #2ECC71;
    background-image: url('/img/background.jpg');
}
/** Window **/
#window-wrapper {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: #333 0px 0px 10px;
    border: 1px solid #999;
}

#window {
    padding: 0;
}
#window #top-bar {
    background: #e3e3e3; /* Old browsers */
    background: -moz-linear-gradient(top,  #e3e3e3 0%, #b4b4b4 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e3e3e3), color-stop(100%,#b4b4b4)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e3e3e3 0%,#b4b4b4 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e3e3e3 0%,#b4b4b4 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e3e3e3 0%,#b4b4b4 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e3e3e3 0%,#b4b4b4 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#b4b4b4',GradientType=0 ); /* IE6-9 */
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: 1px solid #777;
    padding: 5px;
}
#window #top-bar p {
    background-color: transparent;
    font-family: 'Lucida Grande', Arial, sans-serif;
    font-size: 14px;
    line-height: 14px;
    margin: 0 0;
    text-shadow: #F1F1F1 0px  1px 0px;
}
#window #top-bar-buttons {
    padding-top: 5px;
}
#window #top-bar-buttons .right {
    margin-left: 7px;
}

#window .window-button {
    width: 12px;
    height: 12px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #666;
    box-shadow: #666 0px 0px 0px;
    margin: 1px 2px;
}
#window-button-close {
    background: #ff6759; /* Old browsers */
    background: -moz-linear-gradient(top, #ff6759 0%, #ff1a00 30%, #ff1a00 70%, #ff6759 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff6759), color-stop(30%,#ff1a00), color-stop(70%,#ff1a00), color-stop(100%,#ff6759)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ff6759 0%,#ff1a00 30%,#ff1a00 70%,#ff6759 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ff6759 0%,#ff1a00 30%,#ff1a00 70%,#ff6759 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ff6759 0%,#ff1a00 30%,#ff1a00 70%,#ff6759 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ff6759 0%,#ff1a00 30%,#ff1a00 70%,#ff6759 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6759', endColorstr='#ff6759',GradientType=0 ); /* IE6-9 */
}
#window-button-min {
    background: #f7e876; /* Old browsers */
    background: -moz-linear-gradient(top,  #f7e876 0%, #f7b100 30%, #f7b100 70%, #f7e876 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7e876), color-stop(30%,#f7b100), color-stop(70%,#f7b100), color-stop(100%,#f7e876)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f7e876 0%,#f7b100 30%,#f7b100 70%,#f7e876 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f7e876 0%,#f7b100 30%,#f7b100 70%,#f7e876 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f7e876 0%,#f7b100 30%,#f7b100 70%,#f7e876 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f7e876 0%,#f7b100 30%,#f7b100 70%,#f7e876 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7e876', endColorstr='#f7e876',GradientType=0 ); /* IE6-9 */
}
#window-button-expand {
    background: #a9d68d; /* Old browsers */
    background: -moz-linear-gradient(top,  #a9d68d 0%, #74d83a 30%, #74d83a 70%, #a9d68d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a9d68d), color-stop(30%,#74d83a), color-stop(70%,#74d83a), color-stop(100%,#a9d68d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #a9d68d 0%,#74d83a 30%,#74d83a 70%,#a9d68d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #a9d68d 0%,#74d83a 30%,#74d83a 70%,#a9d68d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #a9d68d 0%,#74d83a 30%,#74d83a 70%,#a9d68d 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #a9d68d 0%,#74d83a 30%,#74d83a 70%,#a9d68d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9d68d', endColorstr='#a9d68d',GradientType=0 ); /* IE6-9 */
}

#email-headers {
    background-color: #EDEDED;
    border-bottom: 1px solid #777;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: #333 0px 0px 10px;
}
#email-headers .row .row {
    margin-top: 5px;
    margin-bottom: 5px;
}
#email-headers input {
    padding: 2px;
    height: 26px;
    margin-bottom: 1px;
}
#email-headers label {
    margin-bottom: 1px;
    padding: 5px 0;
}

#email-body {
    background-color: #FFF;
    padding: 10px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: #333 0px 0px 10px;
    margin-bottom: 20px;
}
#email-textarea {
    min-height: 300px;
}
#email-textarea:focus {
    outline: none;
}
#typed-cursor {
    display: none;
}
footer p {
    color: #999;
    font-weight: 300;
} 
